<style>
html, body, div, p{
	margin: 0;
	padding:0;
}
</style>
<div style="width:100%">
	<div style="width:48%;float:left">
		<h1>company name</h1>
		<p>street</p>
		<p>town</p>
		<p>address line 3</p>
		<p>phone number</p>
		<p>email id</p>
	</div>
	<div style="width:48%;float:right; text-align:right">
		<h1>INVOICE</h1>
		<p>date</p>
		<p>invoice-number</p>
		<p>po number</p>
		<p>name</p>
		<p>client company name</p>
	</div>
</div>
